{% extends "base.html" %}

{% block style_block %}
<link href="/static/css/agent.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block menu %}
{% include 'includes/nav.html' %} {# pull in navbar #}
{% end %}

{% block content %}
<div id="agent">
    <div class="container center-block">
        <div class="title"><h3 data-v-text="selected.city.name"></h3></div>
        <div >
            <div class="row" data-v-on="click: setTourIndex()" style="height: 250px; overflow:auto">
                <div class="col-xs-12 col-md-7">
                    <img src="" data-v-attr="src: images.img_1.l" class="img-rounded img-responsive img-caption" />
                </div>
                <div class="col-xs-6 col-md-5">
                    <img src="" data-v-attr="src: images.img_2.m" class="img-rounded img-responsive img-sub" />
                    <img src="" data-v-attr="src: images.img_3.m" class="img-rounded img-responsive img-sub" />
                    <br style="clear:both"/>
                </div>
            </div>
            <br/>
            <div id="map" style="width:100%; height:300px;"></div>
        </div>
    </div>
    <div class="footer">
        <div class="agent-container">
            <div class="row agent-box">
                <div id="message" class="col-xs-8 col-md-8 agent-message" data-v-text="comment">
                </div>
                <img id="character" class="col-xs-4 col-md-4" src="/static/image/icon_small.png" style="height:80px; max-width:125px; float:right"/>
                <br style="clear:both"/>
            </div>
        </div>
        <br/>
        <div style="max-width:600px; margin:auto">
            <div class="row">
                <div class="col-xs-2 col-md-2" style="text-align:left">
                    <button id="prev" class="btn btn-default" data-v-on="click: prev()"><i class="fa fa-chevron-circle-left"></i></button>
                </div>
                <div class="col-xs-8 col-md-8" style="text-align:center">
                    <button id="dislike" class="btn btn-default vote" style="background-color: dimgray" data-v-on="click: feedback(false)"><i class="fa fa-thumbs-down"></i></button>
                    <button id="like" class="btn btn-success vote" data-v-on="click: feedback(true)"><i class="fa fa-thumbs-o-up"></i></button>
                </div>
                <div class="col-xs-2 col-md-2" style="text-align:right">
                    <button id="next" class="btn btn-default" data-v-on="click: next()"><i class="fa fa-chevron-circle-right"></i></button>
                </div>
            </div>
            {% raw xsrf_form_html() %}
        </div>
    </div>
</div>
{% end %}

{% block tail_script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.12.12/vue.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCejL2-6TiGu1pgwkC1LxDtDz1j17GMHT0&callback=initMap"></script>
<script src="/static/js/agent.js"></script>
{% end %}
